.table-container {
    border: 1px solid #dee2e6;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
    padding: 1rem;

    &--heading-row {
        background-color: lightgrey;
        height: 70px;
    }

    &--check-box {
        position: relative;
    }

    .table {
        margin-bottom: 0;
    }

    &--multiSelect {
        vertical-align: middle !important;
    }

    &--heading {
        vertical-align: middle !important;
    }

    &-body {

        &--cell {
            vertical-align: middle !important;
            display: table-cell;
            text-align: left;
        }
    }

    .delete-row {
        padding: 0.75rem;
        vertical-align: top;
        color: red;
    }

    .no-records {
        padding: 0;

        &-text {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: rem(24px);
            font-weight: 600;
            font-family: uni-reg, Arial, Helvetica, sans-serif;
            font-size: rem(20px);
            background-color: #d3d3d3;
            color: #263238;
            letter-spacing: 1px;

            &:hover {
                cursor: initial;
            }
        }
    }

    .table-pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        border-top: 1px solid #dee2e6;
        padding: rem(8px);

        &-box {
            display: flex;
            align-items: center;

            &--caption {
                flex-shrink: 0;
                font-size: rem(12px);
                font-weight: 400;
                font-family: uni-reg, Arial, Helvetica, sans-serif;
                margin-bottom: 0;
            }

            &--select-box {
                display: flex;
                align-items: center;

                width: rem(80px);
                flex-shrink: 0;
                margin-left: 8px;
                margin-right: rem(32px);

                .form-group {
                    margin-bottom: 0;
                }
            }

            &--actions {
                display: flex;
                flex-shrink: 0;
                margin-left: rem(20px);

                .btn-light {
                    border-radius: 50%;
                    overflow: hidden;
                    border: none;
                }
            }
        }
    }
}